<script setup>
import HomeScreen from '../components/HomeScreen.vue';
import moduleName from 'module';
import TeamAbout from '../components/TeamAbout.vue';
import ContactUs from '../components/ContactUs.vue'
import CompanyInfo from '../components/CompanyInfo.vue';
</script>
<template>
  <main>
    <HomeScreen class=""></HomeScreen>
    <TeamAbout class=""> </TeamAbout>
    <CompanyInfo></CompanyInfo> 
    <ContactUs></ContactUs>
  </main>

</template>

<script>
import { gsap } from 'gsap';
import ScrollTrigger from 'gsap/ScrollTrigger';

export default {
  mounted() {
    gsap.registerPlugin(ScrollTrigger);

    gsap.utils.toArray(".panel").forEach((panel, i)=>{
      ScrollTrigger.create({
          trigger: panel,
          start: "top top",
          pin: true,
          pinSpacing: false,
      });
    })
    
  },
  methods: {
  }
}
</script>
