<script setup>
import HomeScreen from '../components/HomeScreen.vue';
import moduleName from 'module';
import ServicesHomeScreen from '../components/ServicesHomeScreen.vue';
import Projects from '@/components/Projects.vue';
import AboutUs from '../components/AboutUs.vue';
import ContactUs from '../components/ContactUs.vue'
</script>
<template>
  <main>
    <HomeScreen></HomeScreen>
    <AboutUs></AboutUs>
    <Projects></Projects>
    <ServicesHomeScreen></ServicesHomeScreen>
    <ContactUs></ContactUs>
  </main>
</template>

<script>
import { gsap } from 'gsap';
import ScrollTrigger from 'gsap/ScrollTrigger';

export default {
  mounted() {
    gsap.registerPlugin(ScrollTrigger);

    gsap.utils.toArray(".panel").forEach((panel, i)=>{
      ScrollTrigger.create({
          trigger: panel,
          start: "top top",
          pin: true,
          pinSpacing: false,
          
      });
    })
    
  },
  methods: {
  }
}
</script>

