<template>
    <kinesis-container >  
    <section v-on:mousemove="mousePosition" class="bg-bgAboutUs w-full h-screen font-Montserrat grid md:grid-cols-2 content-center max-w-full">
         
                <kinesis-element :strength="100"  class="animate mr-3 -mt-12 rotate-12 "></kinesis-element>
                <kinesis-element :strength="-50"  type="translate"   originX="100"  class="animate2 "></kinesis-element>
                
      <div class="lg:px-28 md:px-16 px-7">
        <h1 class="fhd:pt-4 font-bold fhd:text-[64px] text-4xl text-cd-blue underline underline-offset-4 decoration-solid decoration-black decoration-1 leading-normal"> ABOUT US  </h1>
        <p class="fhd:pt-4 font-normal fhd:text-[64px] text-4xl md:leading-2 fhd:pt-16s lg:pt-4">END TO END</p>
        <p class="fhd:pt-4 font-normal fhd:text-[64px] text-4xl">DIGITAL</p>
        <p class="fhd:pt-4 font-normal fhd:text-[64px] text-4xl">SOLUTIONS</p>
      </div>
      <div class="md:pr-20 fhd:pt-28 lg:pt-18 pt-14 px-7">
        <p class="tracking-tighter leading-tighter fhd:text-3xl text-lg"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit quos aut voluptatem dicta rem. Ipsam, aspernatur. Aspernatur commodi voluptatibus id quis quam aperiam nisi pariatur. Ratione et accusamus id incidunt.
        Quo odio sunt, eum architecto quidem neque, delectus perspiciatis at animi laborum dolorem rerum commodi, ullam adipisci ea eius sed saepe. Odit cumque provident officia obcaecati nemo quidem iusto facere.
        Ducimus sit ullam, ab sapiente provident iusto exercitationems?!</p>
      </div>
      
      
    </section>
    </kinesis-container>   
  


</template>
<style>

.animate {
  position: absolute;
  z-index: 0;
  filter: blur(150px) drop-shadow(150px 150px 150px rgb(6, 2, 66)) ;
  background: #0567A8;
  height: 300px;
  width: 1000px;
  right: 0;
}
.animate2 {
  position: absolute;
  z-index: 0;
  filter: blur(150px) drop-shadow(150px 150px 150px rgb(6, 2, 66)) ;
  background: #0567A8;
  height: 600px;
  width: 300px;
  bottom:  0;
}

</style>
<script>
  import { gsap } from "gsap"
  import { KinesisContainer, KinesisElement} from 'vue-kinesis'
  export default{
    mounted(){

    },
    data(){
      return{
        x: 0,
        y: 0,
      }
    },
    methods:{
      // mousePosition(e){
      //   this.x = ()=>{
      //               if(e.clientX < window.screen.width - 150){
      //                 return e.clientX - 150;
      //               }else{
      //                 return window.screen.width - 350
      //               } 
      //             };
      //   this.y = e.clientY -150;
      //   //this is a testing for animation porpuses.
      //   gsap.to('.animate',{
      //   duration: 2,
      //   x: this.x,
      //   //y: this.y,
      //   ease: 'back.out',
      // })
      // }
    }
  }
</script>
