<template  >
  <section class="h-auto w-full grid grid-col-1 grid-flow-rows bg-white  
                    md:grid-rows-2 md:grid-flow-col md:px-10 md:h-auto 
                    lg:grid-rows-2 lg:grid-flow-col lg:px-20 lg:h-auto ">

        <div class=" col-span-1 px-8  pb-8
                     md:grid-row-span-2  md:w-[322px]
                      lg:grid-row-span-2  lg:w-[448px] 
                     xl:w-[576px] 
                     2xl:w-[704px]
                     fhd:w-[896px] ">

            <h1 class="font-Montserrat  " >
                <b class="text-[36px] text-cd-blue">
                    WE ARE COLDEVS
                </b>
                <hr class=" -mt-2 pb-3 w-[220px]">
            </h1>
            
            <p class="font-Montserrat  text-[36px]  text-left pt-[10px]  w-[296px]
                     md:pt-[25px] md:w-[155px] md:text-[24px]
                     lg:pt-[50px] lg:w-[310px] lg:text-[36px]
                     xl:w-[360px] xl:text-[44px]
                     2xl:w-[380px] 2xl:text-[52px]
                     fhd:w-[400px] fhd:text-[54px]">
                END TO END 
                DIGITAL 
                SOLUTIONS
            </p>

        </div> 

        <div class=" col-span-1 px-8  py-10
                     md:grid-col-span-2 md:row-span-2  md:pt-[55px]
                     lg:grid-col-span-2 lg:row-span-2  lg:pt-[110px] "> 

            <p  class=" font-Montserrat  text-[18px]   text-black text-left
                        md:-ml-[20px] md:h-auto md:text-sm 
                        lg:-ml-[20px] lg:h-auto lg:text-3xl ">
                Lorem Lipsum dolor sit amet consectetur adipiscing elit ullamcorper proin, 
                nunc leo sollicitudin rutrum praesent a eget porttitor, erat odio facilisis
                scelerisque rhoncus cras habitant dictum. Id fusce sociosqu himenaeos suspendisse
                congue purus fringilla sapien fames molestie, turpis maecenas nisi rhoncus 
                inceptos velit posuere metus et. Laoreet tincidunt penatibus ultricies integer
                at nullam ultrices sapien, phasellus condimentum mus maecenas luctus tempor 
                parturient purus, a libero risus dis lacus blandit sodales.
            </p>

        </div>
   


    </section>
</template>

<script>
export default {

}
</script>

<style>

</style>