<template>
    <div class=" w-full bg-bgAboutUs flex flex-col  items-center  text-center px-3< py-8"> 
        <kinesis-container>
        <kinesis-element :strength="100"  class="animate -mr-80 -mt-12 rotate-12 "></kinesis-element>
        <kinesis-element :strength="-50"  type="translate"   originX="100"  class="animate2 -ml-80 "></kinesis-element>
        <h1  class=" uppercase text-2xl font-Montserrat font-normal pt-[293px] lg:text-[64px]  "> you got an idea ?</h1>
        <h1 class=" uppercase text-5xl font-Montserrat font-bold text-cd-blue lg:text-8xl lg:pt-5"> lets make it happen </h1>
        <button class="uppercase rounded-2xl text-2xl  font-Montserrat font-normal border border-black w-56 mt-[88px] px-5 py-1 content-center mb-[121px] md:mb:[176px] lg:text-5xl lg:w-96  lg:mt-[208px] lg:mb-[305px]"> contact Us </button>
        </kinesis-container>
    </div>
    
</template>
<style>
.animate {
  position: absolute;
  z-index: 0;
  filter: blur(150px) drop-shadow(150px 150px 150px rgb(6, 2, 66)) ;
  background: #0567A8;
  height: 300px;
  width: 1000px;
  right: 0;
}
.animate2 {
  position: absolute;
  z-index: 0;
  filter: blur(150px) drop-shadow(150px 150px 150px rgb(6, 2, 66)) ;
  background: #0567A8;
  height: 600px;
  width: 300px;
  bottom:  0;
}
</style>