<script setup>
import IconColdevsLogoFooter from './icons/IconColdevsLogoFooter.vue'
import IconLinkedin from './icons/IconLinkedin.vue';
import IconFacebook from './icons/IconFacebook.vue';

import IconInstagram from './icons/IconInstagram.vue';
import IconMenuPhone from './icons/IconMenuPhone.vue'
import IconMenuXPhone from './icons/IconMenuXPhone.vue';


</script>
<template>
        
       <div class="panel flex flex-col z-50 bg-cd-blue">
           
            <div class="px-[31px] lg:px-[76px] xl:px-[136px]   text-white font-Montserrat md:flex md:flex-row md:justify-between">
                <div>
                    <IconColdevsLogoFooter class="mt-[91px] md:mt-[49px]  xl:mt-[93px]  xl:h-[188px] xl:w-[209px]"></IconColdevsLogoFooter>
                    <div class="flex flex-row py-[29px] xl:py-[56px] space-x-4 xl:space-x-8">  
                        <div><IconLinkedin class="xl:h-[48px] xl:w-[48px]"></IconLinkedin></div>  
                        <div><IconFacebook class="xl:h-[48px] xl:w-[48px]"></IconFacebook></div>  
                        <div><IconInstagram class="xl:h-[48px] xl:w-[48px]"></IconInstagram></div>  
                        
                        
                    </div>
                </div>
                <div class="md:text-right">
                    <div>
                        <ul  class="flex flex-col md:flex-row space-y-3 md:space-y-0  md:mt-[50px] xl:mt-[93px] md:space-x-4 xl:space-x-12 text-sm lg:text-base xl:text-2xl  font-semibold ">
                            <li>Home</li>
                            <li>About  us</li>
                            <li>Our Services</li>
                            <li>Proyectos</li>
                            <li>Contacto</li>
                        </ul>
                    </div>
                

                    <div class="py-9 md:py-0 md:pt-[60px] xl:pt-[112px] text-2xl xl:text-5xl font-light xl:font-light tracking-wider underline underline-offset-1">
                        Email@coldevs.com
                    </div>
                </div>
                <hr class="md:hidden">
                <div  class="pt-6 text-xs font-thin tracking-wider md:hidden" >
                    © 2021 Coldevs. All rights reserved.
                </div>
                <div class="pt-3 pb-4 text-xs font-thin tracking-wider md:hidden">
                    Politicas de Pricacioda
                </div>
            </div>

            <div class="px-[31px] lg:px-[60px] xl:px-[100px]">
                <hr class="hidden md:block text-white ">
            </div>

            <div class="px-[31px] lg:px-[60px] xl:px-[136px] text-white font-montserrat md:flex md:flex-row md:justify-between" >
                
                <div  class="pt-6 lg:pt-[26px] xl:pt-[50px] md:pt-3  text-xs lg:text-sm xl:text-base font-thin tracking-wider hidden md:block" >
                    © 2021 Coldevs. All rights reserved.
                </div>
                <div class="pt-3 lg:pt-[26px] xl:pt-[50px] lg:pb-[26px] xl:pb-[50px] pb-4   text-xs lg:text-sm xl:text-base font-thin tracking-wider hidden md:block">
                    Politicas de Pricacioda
                </div>
            </div>

           

       </div>

       
</template> 
<script>
    export default{
        data(){
            return{ menuOn: false }
        },
    }
</script>
