<script setup>
import IconColdevsLogo from './icons/IconColdevsLogo.vue'
import IconMenuPhone from './icons/IconMenuPhone.vue'
import IconMenuXPhone from './icons/IconMenuXPhone.vue';
</script>
<template>
        <nav :class="{'headerFadeOut': !menuTransparent, 'headerFadeIn': menuTransparent }" class="z-50 headerDivide fixed top-0 w-full flex flex-row fhd:h-32 lg:h-28 md:h-20 h-14">
            <div class="basis-1/12 lg:py-6 lg:pl-28 md:py-4 py-2 md:px-16 px-8">
                <router-link v-on:click="menuOn=false" :to="{name: 'home'}"><IconColdevsLogo/></router-link>
            </div>
            <div class="lg:basis-11/12 basis-10/12 flex lg:flex-row-reverse flex-col lg:pt-[60px] lg:px-28 text-white fhd:text-base font-Montserrat uppercase font-bold text-xs">
                <div class="w-32 invisible lg:visible">Contact Us</div>
                 <div class="w-32 invisible lg:visible">Projects</div>
                 <div class="w-32 invisible lg:visible">Services</div>
                <router-link v-on:click="menuOn=false" :to="{name: 'about'}" replace class="w-32 invisible lg:visible">About Us</router-link>   
            </div>
            <div class="basis-1/12 lg:hidden">
            <button id="mobile-menu-button" v-on:click="menuOn=!menuOn" class="lg:invisible visible md:py-6 md:px-16 px-8 py-3"><IconMenuPhone v-if="!menuOn"/> <IconMenuXPhone v-if="menuOn"/></button>
            </div>
        </nav>
        <div v-if="menuOn" id="mobile-menu" class="fixed top-1 z-40 text-3xl text-center bg-cd-blue text-white font-montserrat font-bold h-screen w-full">
            <ul class="flex flex-col-reverse">
                <li class="py-6 basis-1/12">Contact Us</li>
                <li class="py-6 basis-1/12">Projects</li>
                <li class="py-6 basis-1/12">Services</li>
                <li class="py-6 basis-1/12"><router-link v-on:click="menuOn=false" :to="{name: 'about'}">About Us</router-link></li>
                <li class="pt-32 pb-6 basis-1/12"><router-link v-on:click="menuOn=false" :to="{name: 'home'}">Home</router-link></li> 
            </ul>
        </div>
</template> 
<style>
.headerDivide {
 border-bottom-width: 2px;
 border-color: white;
 
}
.headerFadeOut {
  background-color: transparent;
  transition: background-color 1s ease;
}
.headerFadeIn {
  background-color: #05299E;
  transition: background-color 1s ease;
}
</style>
<script>
    export default{
        mounted(){
            window.addEventListener('scroll', this.handleScroll);
        },
        destroyed () {
            window.removeEventListener('scroll', this.handleScroll);
        },
        data(){
            return{ menuOn: false,
                    menuTransparent: false }
        },
        methods:{
            handleScroll(event) {
                // Any code to be executed when the window is scrolled
                this.isUserScrolling = (window.scrollY >= 400);
                this.menuTransparent = this.isUserScrolling;
            }
        }
    }
</script>
