
<script>
import { KinesisContainer, KinesisElement} from 'vue-kinesis'
import particlesConfig from "../assets/particles5.json";
import { gsap } from 'gsap';
import { onMounted } from '@vue/runtime-core';
import HomeScreenBackground from './HomeScreenBackground.vue';   

  export default {
    
    data() {
        return {
            arr1: ["Creative Minds"],
            arr2: ["Designing"],
            arr3: ["and"],
            arr4: ["Developing"],
            arr5: ["Your Dreams"],
            typeSpeed: 75,
            particlesConfig,
            x: 0,
            y: 0,
        };
    },
    methods: {
        startW(start, arr, typeSpeed) {
            var arrLength = arr[0].length;
            return start + (arrLength * typeSpeed);
        },
        mousePosition(e) {
            this.x = e.clientX;
            this.y = e.clientY;
            //this is a testing for animation porpuses.
            console.log(this.x + ", " + this.y);
        }
    },
    computed: {
        startArr2: function () {
            return this.startW(this.arr1[0].length * this.typeSpeed, "0", 0);
        },
        startArr3: function () {
            return this.startW(this.arr1[0].length * this.typeSpeed, this.arr2, this.typeSpeed);
        },
        startArr4: function () {
            return this.startW(this.startArr3, this.arr3, this.typeSpeed);
        },
        startArr5: function () {
            return this.startW(this.startArr4, this.arr4, this.typeSpeed);
        },
    },
    components: { HomeScreenBackground }
};

</script>

<style>


.animate-section {
  padding: 5vw;
  height: 100vh;
  background: #042376;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

h1 {
  z-index: 2;  
}
</style>

<template>       
     
  <section v-on:mousemove="mousePosition" class="w-full h-scree font-Montserrat uppercase animate-section">
        <HomeScreenBackground/>
        <div class="grid h-full place-content-center fhd:text-[144px] xl:text-8xl md:text-7xl text-4xl fhd:pt-32 lg:pt-28">
            <h1 class="py-0.5 fhd:w-[1303px] xl:w-[869px] md:w-[652px] w-[326px]">
                <vue-writer :array="arr1" :iterations='1' :typeSpeed="typeSpeed"></vue-writer>
            </h1>
            <h1 class="py-0.5 text-cd-blue font-black flex items-baseline">
                <vue-writer class="opacity-50" :array="arr2" :typeSpeed="typeSpeed"  :iterations='1' :start="startArr2"></vue-writer>
                <vue-writer class="fhd:text-5xl lg:text-3xl md:text-3xl text-sm md:font-medium font-semibold text-black" :array="arr3" :iterations='1' :typeSpeed="typeSpeed" :start="startArr3"></vue-writer>
            </h1>
            <h1 class="py-0.5 text-cd-blue font-black">
                <vue-writer class="opacity-50" :array="arr4" :iterations='1' :typeSpeed="typeSpeed" :start="startArr4"></vue-writer>
            </h1>
            <h1 class="py-0.5">
                <vue-writer :array="arr5" :iterations='1' :typeSpeed="typeSpeed" :start="startArr5"></vue-writer>
            </h1>
            <div class="opacity-0">Creative Minds</div>
             

            
        </div>
  </section>

</template>
