
<style>
:root {
  --color: #0071bc;
  --blur-1-size: clamp(500px, 60vw, 60vw);
  --blur-2-size: clamp(200px, 40vw, 40vw);
  --blur-3-size: clamp(100px, 20vw, 20vw);
  --blur-amount: clamp(40px, 5vw, 90px);
}

.blur {
  position: absolute;
  z-index: 1;
  border-radius: 900px;
  filter: blur(var(--blur-amount));
  background: var(--color);
}

.blur:nth-child(1) {
  filter: blur(var(--blur-amount)) brightness(1.3);
  height: var(--blur-1-size);
  width: calc(var(--blur-1-size) * 1.1);
}

.blur:nth-child(2) {
  filter: blur(var(--blur-amount)) brightness(1.3);
  height: var(--blur-2-size);
  width: calc(var(--blur-2-size) * 0.75);
  top: 20vh;
  right: 20vh;
  background: #1f84a3;
}

.blur:nth-child(3) {
  filter: blur(var(--blur-amount));
  background: #99ccff;
  height: var(--blur-3-size);
  width: calc(var(--blur-3-size) * 2);
  bottom: 20vh;
  left: 20vw;
}
</style>
<script setup>
import { gsap } from 'gsap';


</script>
<template>
        
       <div class="blur"></div>
       <div class="blur"></div> 
       <div class="blur"></div>

       
</template> 
<script>
    export default{
            mounted() {
        const randomX = random(-400, 400);
        const randomY = random(-200, 200);
        const randomDelay = random(0, 50);
        const randomTime = random(6, 12);
        const randomTime2 = random(5, 6);
        const randomAngle = random(-30, 150);

        const blurs = gsap.utils.toArray(".blur");
        blurs.forEach((blur) => {
        gsap.set(blur, {
            x: randomX(-1),
            y: randomX(1),
            rotation: randomAngle(-1)
        });

        moveX(blur, 1);
        moveY(blur, -1);
        rotate(blur, 1);
        });

        function rotate(target, direction) {
        gsap.to(target, randomTime2(), {
            rotation: randomAngle(direction),
            // delay: randomDelay(),
            ease: "sine.easeInOut",
            onComplete: rotate,
            onCompleteParams: [target, direction * -1]
        });
        }

        function moveX(target, direction) {
        gsap.to(target, randomTime(), {
            x: randomX(direction),
            ease: "sine.easeInOut",
            onComplete: moveX,
            onCompleteParams: [target, direction * -1]
        });
        }

        function moveY(target, direction) {
        gsap.to(target, randomTime(), {
            y: randomY(direction),
            ease: "sine.easeInOut",
            onComplete: moveY,
            onCompleteParams: [target, direction * -1]
        });
        }

        function random(min, max) {
        const delta = max - min;
        return (direction = 1) => (min + delta * Math.random()) * direction;
        }

    },
        data(){
            return{ }
        },
    }
</script>
