<template>
    
    <section class="bg-bgAboutUs w-full h-screen fhd:pt-24 xl:pt-32 md:pt-20 pt-14 font-Montserrat" id="Projects">
        <kinesis-container :event="scroll">
        <kinesis-element :strength="100"  class="animate mr-3 -mt-12 rotate-12 "></kinesis-element>
        <kinesis-element :strength="-50"  type="translate"   originX="100"  class="animate2 "></kinesis-element>
        <h1 class="text-center uppercase overline decoration-1 fhd:text-[64px] text-[36px]">Projects</h1>
        <div class="w-full px-4 pt-4 fhd:pt-20">
            <div class="flex overflow-x-auto">
                <div class="expand-card flex-none" v-for="proyect in proyects" v-bind:key="proyect.id">
                    <p class="textcardphone">{{proyect.name}}</p>
                    <p class="textcardphone">type / what is</p>
                    <button class="buttoncardphone "> view more </button>
                </div>
            </div>
        </div>
        </kinesis-container>
    </section>
    
</template>

<style>
.expand-card:hover {
  transform: scale(110%);
  filter: none;
  -webkit-filter: grayscale(0);
}
.expand-card {
  @apply bg-cd-blue2 relative px-6 py-6 rounded-3xl border-2 fhd:my-20 md:my-16 my-12 mx-4 h-[500px] w-[300px] md:h-[550px] md:w-[350px] lg:h-[600px] lg:w-[450px] xl:h-[500px] xl:w-[400px] fhd:h-[500px] fhd:w-[450px];
  transition-duration: 1s;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
.animate {
  position: absolute;
  z-index: 0;
  filter: blur(150px) drop-shadow(150px 150px 150px rgb(6, 2, 66)) ;
  background: #0567A8;
  height: 300px;
  width: 1000px;
  right: 0;
}
.animate2 {
  position: absolute;
  z-index: 0;
  filter: blur(150px) drop-shadow(150px 150px 150px rgb(6, 2, 66)) ;
  background: #0567A8;
  height: 600px;
  width: 300px;
  bottom:  0;
}

</style>

<script>
export default {
    data(){
        return {
            proyects: [{id:1, name:"Project 1"}, {id:2, name:"Project 2"}, {id:3, name:"Project 3"}]
        }
    }      
}
</script>