<template>

    <section class="bg-bgAboutUs h-auto w-full grid grid-col-1 grid-flow-rows  bg-white
                    md:grid-rows-2 md:grid-flow-col md:px-10 md:h-auto 
                    lg:grid-rows-2 lg:grid-flow-col lg:px-20 lg:h-auto ">
        <kinesis-container :event="scroll">
        <kinesis-element :strength="100"  class="animate mr-3 -mt-12 rotate-12 "></kinesis-element>
        <kinesis-element :strength="-50"  type="translate"   originX="100"  class="animate2 -mb-72 "></kinesis-element>

        <div class=" col-span-1 px-8  pb-8
                     md:order-1 md:grid-row-span-2  md:w-[322px]
                     lg:order-1 lg:grid-row-span-2  lg:w-[448px] 
                     xl:w-[576px] 
                     2xl:w-[704px]
                     fhd:w-[896px] ">

            <h1 class="font-Montserrat  " >
                <b class="text-[36px] text-cd-blue">
                    SERVICES 
                </b>
                <hr class=" -mt-2 pb-3 w-[220px]">
            </h1>
            
            <p class="font-Montserrat  text-[36px]  text-left pt-[10px]  w-[296px]
                     md:pt-[25px] md:w-[155px] md:text-[24px]
                     lg:pt-[50px] lg:w-[310px] lg:text-[36px]
                     xl:w-[360px] xl:text-[44px]
                     2xl:w-[380px] 2xl:text-[52px]
                     fhd:w-[400px] fhd:text-[54px]">
                WE WANT TO 
                MAKE YOUR 
                LIFE EASIER
            </p>

        </div> 

        <div class=" col-span-1 px-8  py-10
                     md:order-3 md:grid-col-span-2 md:row-span-2  md:pt-[55px]
                     lg:order-3 lg:grid-col-span-2 lg:row-span-2  lg:pt-[110px] "> 

            <p  class=" font-Montserrat  text-[18px]   text-black text-left
                        md:-ml-[20px] md:h-auto md:text-sm 
                        lg:-ml-[20px] lg:h-auto lg:text-3xl ">
                Lorem Lipsum dolor sit amet consectetur adipiscing elit ullamcorper proin, 
                nunc leo sollicitudin rutrum praesent a eget porttitor, erat odio facilisis
                scelerisque rhoncus cras habitant dictum. Id fusce sociosqu himenaeos suspendisse
                congue purus fringilla sapien fames molestie, turpis maecenas nisi rhoncus 
                inceptos velit posuere metus et. Laoreet tincidunt penatibus ultricies integer
                at nullam ultrices sapien, phasellus condimentum mus maecenas luctus tempor 
                parturient purus, a libero risus dis lacus blandit sodales.
            </p>

        </div>
   
        <div class=" col-span-1 px-8  pt-6 
                     md:order-2 md:grid-rows-span-1 md:col-span-1
                     lg:order-2 lg:grid-rows-span-1 lg:col-span-1 ">

            <button class="font-Montserrat text-[18px] text-center w-[154px] h-[32px]  
                    rounded-[15px] outline outline-1 outline-black opacity-[.32] 
                     ">
                    LEARN MORE
            </button>

        </div>
     </kinesis-container>
    </section>

</template>

<script>
export default {

}
</script>

<style>
.animate {
  position: absolute;
  z-index: 0;
  filter: blur(150px) drop-shadow(150px 150px 150px rgb(6, 2, 66)) ;
  background: #0567A8;
  height: 300px;
  width: 1000px;
  right: 0;
}
.animate2 {
  position: absolute;
  z-index: 0;
  filter: blur(150px) drop-shadow(150px 150px 150px rgb(6, 2, 66)) ;
  background: #0567A8;
  height: 600px;
  width: 300px;
  bottom:  0;
}
</style>