<template>
    <div class="bg-white  text-center w-full pt-8 space-x-6 lg:h-full flex flex-col pb-12 ">
        <h1 class=" text-cd-blue font-Montserrat font-bold text-4xl overline decoration-solid decoration-black decoration-1 leading-normal md:text-3xl lg:text-[64px] lg:pb-20  lg:underline lg:underline-offset-20 ">  TEAM </h1>
        <div class="md:grid md:grid-cols-2 md:justify-items-center ">
            <div class="cardTeam ">
                <div class=""> 
                    <img src="./imgTeam/bgManu.png" alt="" class="rounded-[39px] opacity-50 hover:opacity-100 mb-3 w-full ">
                </div>
                <div>
                    <h1 class="cardTeamLiability">ceo</h1>
                    <p class=" cardTeamName">manuel diaz</p>
                </div>
                </div>
                <div class=" cardTeam">
                <div> 
                    <img src="./imgTeam/bgNicolas.png" alt="" class="rounded-[39px] opacity-50 hover:opacity-100 mb-3 w-full ">
                </div>
                <div>
                    <h1 class="cardTeamLiability">ceo</h1>
                    <p class="cardTeamName">nicolas barrios</p>
                </div>
                </div>
                <div class=" cardTeam">
                <div> 
                    <img src="./imgTeam/bgCarolina.png" alt="" class="rounded-[39px] opacity-50 hover:opacity-100 mb-3 w-full">
                </div>
                <div>
                    <h1 class="cardTeamLiability ">ceo</h1>
                    <p class="cardTeamName">carolina montaño</p>
                </div>
                </div>
                <div class=" cardTeam">
                <div> 
                    <img src="./imgTeam/bgPedro.png" alt="" class="rounded-[39px] opacity-50 hover:opacity-100 mb-3 w-full">
                </div>
                <div>
                    <h1 class="cardTeamLiability">ceo</h1>
                    <p class="cardTeamName">pedro montaño</p>
                </div>
                </div>
                <div class="  cardTeam ">
                <div> 
                    <img src="./imgTeam/bgMario.png" alt="" class="rounded-[39px] opacity-50 hover:opacity-100 mb-3 w-full">
                </div>
                <div>
                    <h1 class="cardTeamLiability ">ceo</h1>
                    <p class="cardTeamName">mario alba</p>
                </div>
                </div>
                <div class=" cardTeam ">
                <div> 
                    <img src="./imgTeam/bgRodrigo.png" alt="" class="rounded-[39px] opacity-50 hover:opacity-100 mb-3 w-full">
                </div>
                <div>
                    <h1 class=" cardTeamLiability">ceo</h1>
                    <p class=" cardTeamName">rodrigo barrios</p>
                </div>
                </div> 
        </div>      
    </div>
</template>