<template>
    <section class="bg-white w-full h-full pt-20 pb-20  pl-6 pr-6 md:pl-8 md:flex md:pt-16 lg:h-screen lg:items-center lg:pl-20 ">
        <div >
            <h1 class=" text-cd-blue font-Montserrat font-bold text-3xl underline lg:underline-offset-20 md:underline-offset-4 underline-offset-4   decoration-solid decoration-black decoration-1 leading-normal md:text-3xl lg:text-[64px] lg:pb-20 "> WE ARE COLDEVS </h1>
            <p class=" font-Montserrat text-4xl  pt-2 w-4/5 lg:text-[64px] md:w-3/5 md:leading-2 lg:leading-normal md:tracking-tight md:mt md:pt-8 font-normal md:font-normal"> END TO END DIGITAL SOLUTIONS</p>
        </div>
        <P class="font-Montserrat pt-10  tracking-tighter leading-tighter md:text-sm md:w-3/5 md:pr-10 lg:text-3xl lg:pt-32"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit quos aut voluptatem dicta rem. Ipsam, aspernatur. Aspernatur commodi voluptatibus id quis quam aperiam nisi pariatur. Ratione et accusamus id incidunt.
        Quo odio sunt, eum architecto quidem neque, delectus perspiciatis at animi laborum dolorem rerum commodi, ullam adipisci ea eius sed saepe. Odit cumque provident officia obcaecati nemo quidem iusto facere.
        Ducimus sit ullam, ab sapiente provident iusto exercitationem?!</P>
    </section>
</template>
<div class=" w-[331px] h-[376px] rounded-[39px] bg-white border-solid border-2 bg mt-14">
                <div> 
                    <img src="./imgTeam/bgCarolina.png" alt="" class="rounded-[39px] opacity-50 hover:opacity-100 mb-3 ">
                </div>
                <div>
                    <h1 class="uppercase text-lg font-bold font-Montserrat text-cd-blue  ">ceo</h1>
                    <p class="uppercase text-lg font-normal font-Montserrat">carolina montaño</p>
                </div>
            </div>
            <div class=" w-[331px] h-[376px] rounded-[39px] bg-white border-solid border-2 bg mt-14">
                <div> 
                    <img src="./imgTeam/bgPedro.png" alt="" class="rounded-[39px] opacity-50 hover:opacity-100 mb-3 ">
                </div>
                <div>
                    <h1 class="uppercase text-lg font-bold font-Montserrat text-cd-blue  ">ceo</h1>
                    <p class="uppercase text-lg font-normal font-Montserrat">pedro montaño</p>
                </div>
            </div>
            <div class=" w-[331px] h-[376px] rounded-[39px] bg-white border-solid border-2 bg mt-14">
                <div> 
                    <img src="./imgTeam/bgMario.png" alt="" class="rounded-[39px] opacity-50 hover:opacity-100 mb-3">
                </div>
                <div>
                    <h1 class="uppercase text-lg font-bold font-Montserrat text-cd-blue  ">ceo</h1>
                    <p class="uppercase text-lg font-normal font-Montserrat">mario alba</p>
                </div>
            </div>
            <div class=" w-[331px] h-[376px] rounded-[39px] bg-white border-solid border-2 bg mt-14">
                <div> 
                    <img src="./imgTeam/bgRodrigo.png" alt="" class="rounded-[39px] opacity-50 hover:opacity-100 mb-3">
                </div>
                <div>
                    <h1 class="uppercase text-lg font-bold font-Montserrat text-cd-blue  ">ceo</h1>
                    <p class="uppercase text-lg font-normal font-Montserrat">rodrigo barrios</p>
                </div>
            </div>