<template>
    <svg width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.600586 18.937V6.66301C0.600586 2.98082 3.58141 0 7.2636 0H19.4499C23.1321 0 26.1129 2.98082 26.1129 6.66301V18.8493C26.1129 22.5315 23.1321 25.5123 19.4499 25.5123H15.3294L13.1376 24.9863L11.2965 25.5123H7.17593C3.58141 25.6 0.600586 22.6192 0.600586 18.937Z" fill="white"/>
        <path d="M18.398 16.9203L18.9241 13.2381H15.3295V10.871C15.3295 9.81894 15.8556 8.85456 17.4337 8.85456H19.0117V5.6984C19.0117 5.6984 17.5213 5.43538 16.1186 5.43538C13.2254 5.43538 11.2967 7.18881 11.2967 10.4326V13.2381H8.1405V16.9203H11.3843V25.5998H15.4172V16.9203H18.398Z" fill="#05299E"/>
    </svg>

</template>
