<template>
    <svg class="fhd:h-20 lg:h-16 md:h-12 h-9 hover:animate-pulse" viewBox="0 0 104 79" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M51.9569 3.7103L11.1411 28.3722L13.0151 69.1785L39.4479 75.0442C44.0767 76.0749 47.1501 69.9 43.8893 66.1333L11.1411 28.3722" fill="#0071BC"/>
        <path d="M34.313 47.0091L49.5018 38.117C52.7157 36.168 54.5241 33.1977 54.3836 30.1056L53.3247 7.05539C53.0436 1.01174 43.683 -2.15532 37.3957 1.65827L4.88181 21.0917C1.7616 22.8532 -0.00933301 25.7767 3.69947e-05 29.1405L1.39617 56.2292C1.48987 62.5727 4.56323 67.6606 15.3013 69.6564L29.7592 72.7391C29.7592 72.7391 16.3694 69.2067 18.7682 61.542C21.1669 53.8773 34.238 47.056 34.238 47.056L34.313 47.0091Z" fill="white"/>
        <path d="M49.5203 37.9952C49.7451 37.8546 51.666 36.3554 51.8628 36.1586C53.9898 34.0879 54.2427 31.7079 51.9377 30.3586C47.8805 27.9692 41.5464 31.4549 40.6188 32.0452L10.6066 50.0918C-0.215741 56.4822 2.62337 66.1052 12.921 68.6163C14.6826 69.0474 29.7589 72.7391 29.7589 72.7391C29.7495 72.7391 16.4816 69.0286 18.8897 61.364C21.2978 53.6993 34.4345 46.8404 34.4345 46.8404L49.5203 37.9952Z" fill="white"/>
        <path d="M49.6519 73.3107L90.4676 48.6489L88.5936 7.84247L62.1608 1.97684C57.532 0.946143 54.4587 7.12098 57.7194 10.8877L90.4676 48.6395" fill="#0071BC"/>
        <path d="M68.5698 30.6303L53.0999 39.6818C49.8204 41.6682 47.9839 44.6947 48.1245 47.8337L49.202 71.3149C49.4831 77.471 59.0218 80.7037 65.4309 76.8057L98.5445 57.0163C101.721 55.2266 103.529 52.2469 103.52 48.8175L102.105 21.2228C102.002 14.7669 98.8724 9.5853 87.947 7.54264L73.2173 4.43179C73.2173 4.43179 86.8507 8.02988 84.4051 15.8351C81.9596 23.6403 68.6541 30.5835 68.6541 30.5835L68.5698 30.6303Z" fill="white"/>
        <path d="M53.9996 39.8223C53.7747 39.9629 51.8538 41.4621 51.6571 41.6588C49.5301 43.7296 49.2771 46.1096 51.5821 47.4589C55.6393 49.8482 61.9735 46.3626 62.9011 45.7723L92.932 27.7256C103.754 21.3353 100.915 11.7123 90.6176 9.20113C88.856 8.77011 73.7797 5.07832 73.7797 5.07832C73.789 5.07832 87.057 8.78885 84.6489 16.4535C82.2408 24.1182 69.104 30.977 69.104 30.977L53.9996 39.8223Z" fill="white"/>
    </svg>
</template>
