<template>
    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 18.9371V6.66313C0 2.98094 3.06849 0.00012207 6.75068 0.00012207H18.937C22.6192 0.00012207 25.6 2.98094 25.6 6.66313V18.8494C25.6 22.5316 22.6192 25.5124 18.937 25.5124H6.75068C3.06849 25.6001 0 22.6193 0 18.9371Z" fill="white"/>
        <path d="M7.45195 10.4329H9.90675V18.411H7.45195V10.4329ZM8.67935 6.48773C9.46839 6.48773 10.0821 7.10143 10.0821 7.89047C10.0821 8.67951 9.46839 9.29321 8.67935 9.29321C7.89031 9.29321 7.27661 8.67951 7.27661 7.89047C7.27661 7.10143 7.89031 6.48773 8.67935 6.48773Z" fill="#05299E"/>
        <path d="M11.4849 10.4329H13.852V11.485C14.2027 10.8713 14.9917 10.1699 16.2191 10.1699C18.7616 10.1699 19.1999 11.8357 19.1999 13.9398V18.3233H16.7451V14.4658C16.7451 13.5014 16.7451 12.3617 15.4301 12.3617C14.115 12.3617 13.9397 13.3261 13.9397 14.3781V18.3233H11.4849V10.4329Z" fill="#05299E"/>
    </svg>
</template>
