<template>
    <svg width="38" height="30" viewBox="0 0 38 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M38 3H10.5" stroke="white" stroke-width="5"/>
        <path d="M38 15L0 15" stroke="white" stroke-width="5"/>
        <path d="M38 27L19 27" stroke="white" stroke-width="5"/>
    </svg>
</template>