<template>
    <svg width="38" height="30" viewBox="0 0 38 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M36 3L2 27" stroke="white" stroke-width="5"/>
        <path d="M36 3L2 27" stroke="white" stroke-width="5"/>
        <path d="M36 27L2 3" stroke="white" stroke-width="5"/>
    </svg>
</template>