<template>
    <svg width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.733154 19.0008V6.68554C0.733154 2.99097 3.724 0.00012207 7.41857 0.00012207H19.6458C23.3404 0.00012207 26.3313 2.99097 26.3313 6.68554V18.9128C26.3313 22.6074 23.3404 25.5982 19.6458 25.5982H7.41857C3.724 25.6862 0.733154 22.6954 0.733154 19.0008Z" fill="white"/>
        <path d="M17.6227 8.0052C17.0949 8.0052 16.743 8.35706 16.743 8.88486C16.743 9.41266 17.1829 9.76452 17.6227 9.76452C18.1505 9.76452 18.5024 9.41266 18.5024 8.88486C18.5024 8.44503 18.0625 8.0052 17.6227 8.0052Z" fill="#05299E"/>
        <path d="M13.6642 9.14869C11.641 9.14869 9.9696 10.82 9.9696 12.8433C9.9696 14.8665 11.641 16.5378 13.6642 16.5378C15.6874 16.5378 17.3587 14.8665 17.3587 12.8433C17.3587 10.82 15.6874 9.14869 13.6642 9.14869ZM13.6642 15.2183C12.3447 15.2183 11.2891 14.1628 11.2891 12.8433C11.2891 11.5238 12.3447 10.4682 13.6642 10.4682C14.9837 10.4682 16.0393 11.5238 16.0393 12.8433C16.0393 14.1628 14.9837 15.2183 13.6642 15.2183Z" fill="#05299E"/>
        <path d="M16.567 20.4084H10.5853C8.12222 20.4084 6.099 18.3852 6.099 15.9221V9.94043C6.099 7.47738 8.12222 5.45416 10.5853 5.45416H16.567C19.03 5.45416 21.0532 7.47738 21.0532 9.94043V15.8341C21.1412 18.3852 19.118 20.4084 16.567 20.4084ZM10.5853 6.77365C8.82595 6.77365 7.50646 8.18111 7.50646 9.85246V15.8341C7.50646 17.5935 8.91391 18.913 10.5853 18.913H16.567C18.3263 18.913 19.6458 17.5055 19.6458 15.8341V9.85246C19.6458 8.09314 18.2383 6.77365 16.567 6.77365H10.5853Z" fill="#05299E"/>
    </svg>
</template>
