<script setup>
import { RouterLink, RouterView } from 'vue-router'
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'
import HomeViewVue from './views/HomeView.vue';
import IconColdevsLogo from './components/icons/IconColdevsLogo.vue';

</script>
<template>
  <header>
    <Header></Header>
  </header>
  <div class="h-full w-full grid items-center place-content-center fixed top-0 bg-black -z-10">
    <IconColdevsLogo />
  </div>
  <router-view></router-view>
  <footer class="">
    <Footer></Footer>
  </footer>
  <Loader/>
</template>

<style lang="css">
  .slide-enter-active,
  .slide-leave-active{
    transition: opacity 1s, transform 1s;
  }

  .slide-enter-from,
  .slide-leave-to{
    opacity: 0;
    transform: translateX(-30%);
  }
</style>
