@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.buttoncardphone{
    @apply rounded-full bg-transparent border text-white border-white uppercase text-2xl md:text-4xl p-2 hover:bg-cd-blue bottom-0 absolute mb-7 transition ease-in-out hover:scale-110
}
.textcardphone{
    @apply first-letter:capitalize text-white text-2xl md:text-4xl py-2 lg:text-3xl
}
.cardphone{
    @apply bg-cd-blue2 pt-6 px-6 rounded-3xl h-[500px] w-[300px] md:h-[550px] md:w-[350px] lg:h-[600px] lg:w-[450px] xl:h-[500px] xl:w-[400px] fhd:h-[600px] fhd:w-[450px] border-2 relative
}
.cardTeam{
    @apply w-[331px] h-[376px] rounded-[39px] bg-white border-solid border-2 mt-14 lg:mt-28 lg:w-[717px] lg:h-[813px]
}
.cardTeamName{
    @apply uppercase text-lg font-normal font-Montserrat lg:text-6xl
}
.cardTeamLiability{
    @apply uppercase text-lg font-bold font-Montserrat text-cd-blue lg:text-4xl lg:mt-4 lg:mb-4
}